.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  width: 20vw;
  border: rgb(156, 156, 160) solid 5px;
  border-radius: 20px 20px;
  margin: .9vw;
  padding: 2vw;
  background: linear-gradient(white, rgb(165, 164, 169));
  /* justify-content: space-between; */
  
  
  
  
}

.card-image {
  width:  14vw;
  height: 14vw;
  /* border: 3px solid ; */
  box-shadow: 0px 0px 15px 5px darkgrey;
  border-radius: 25px;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;

}



